@tailwind base;
@tailwind components;
@tailwind utilities;


body{


 background-color: black;

}
html,body{
  height:100%;

   scrollbar-color: #777 #555;
  }
*{
  box-sizing: border-box;
}
.ql-container{
  font-size: 28px !important;
}