.image{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-size: cover;
    margin: 0.3rem;
}
.title{
    font-size: medium;
    font-weight: bold;
}
.container:hover{
    cursor: pointer;
    border-radius: 10px;
    background: #ccd1e5;
    box-shadow: inset 9px 9px 18px #b1b6c7,
                inset -9px -9px 18px #e7ecff;   
}
.container{
    padding: 12px;
    margin: 8px;
}